*{
	margin:  0;
	padding:  0;
}
.header{
	min-height: 100vh;
	width:  100%;
	background-image:  linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(images/idek_banner.png);
	background-position: center;
	background-size: cover;
	position: relative;
}